.user__card{
    margin-top: 45px;
    height: 40px;
    margin-left:20px;
    margin-right:20px;
    padding: 10px;
    border: 20px rgba(245, 166, 35, 0.7) solid;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

