.user__card__all{
    margin-top:45px;
}
.user__card{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 120px;
    padding:10px;
    border: 10px rgba(245, 166, 35, 0.7) solid;
    font-family: 'Open Sans', sans-serif;
}
.user__cardname,
.user__carddesc{
    text-align:left;
    padding-left:5px;
    color: black !important;
}
.user__cardname{
    padding-top: 10px;
    font-weight: 600;
    margin-bottom:0px !important;
}
.user__profileicon,
.user__chaticon{
    font-size: 5vh;
    padding: 2px;
    text-align: center;
}
.youraccount__headShot {
    border-radius:50%;
    width:100px;
    padding:5px;
}

