.containerStyle{
    border:1px solid red;
    margin-top:3em;
    /* height:100vh; */
    padding:1em 2em 0 2em;
}

.userTitle{
    border:1px solid black;
   width:100%;
}

.userContainer{
    height:6em;
    display:flex;
    justify-content: space-between;
    /* border:2px solid red; */
    align-items:center;
    padding:0.2em 1em 0.2em 1em;

}
.userTitle img{
    border-radius:50%;
    max-height:100%;
    max-width:100%;
}

.userInfo{
    display:flex;
    flex-direction: column;
    /* flex-grow:2; */
    text-align: center;
}

.type_msg{
  align-self:flex-end;
}