.mainChatContainer {
  margin-top: 3em;
  padding: 1em 1em 0 1em;
  border: 2px solid red;
  height: 80vh;
  display:flex;
  flex-direction:column;
  background-color:rgba(245, 166, 35, 0.7);
}

.userBar {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em .5em 0.3em .5em;
  flex-grow:1;
  background-color:white;
}

.userPhoto {
  height: 4em;
}

.userInfo {
  text-align: center;
}

.userInfo p{
    margin:0;
}

.headShot {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100%;
}

.chat_area{
    padding:0.5em 0.5em 0.5em 0.5em;
    flex-grow:20;
    border:1px solid blue;
}

.type_msg{
    flex-grow:1;
    background-color:white;
}