.Event {
    text-align: center;
}

.btn {
      background-color: #2667FF;
    
}

.btn-large:hover {
    background-color: #2667FF;
}

.event__btn {
  margin-top:30px;
}

.event__code {
  margin-bottom: 0;
}