.landing {
    text-align: center;
    color: #2667FF;
}

.landing__bear {
    max-width: 80%;
    margin: 0 auto;

}

.landing__name {
    font-weight: 1000px;
    margin: 0;
}

.landing__subscript {
    margin-top: 0;
    margin-bottom:30px;
}

.landing__button {
    margin: 10px;
    background-color: #2667FF;
}